<div class="container mx-auto my-auto">
  <div class="row">
    <div class="card col-4" style="width: 18rem;">
      <img class="card-img-top" src="#" alt="">
      <div class="card-body">
        <h5 class="card-title">Banner Management</h5>
        <p class="card-text">You Can Edit banner in the Landing Page of the Website</p>
        <a href="/admin/banner-management" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card col-4" style="width: 18rem;">
      <img class="card-img-top" src="#" alt="">
      <div class="card-body">
        <h5 class="card-title">Advertisement Management</h5>
        <p class="card-text">Here You can edit Cards and images of the landing Page</p>
        <a href="/admin/category-banner-list" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card col-4" style="width: 18rem;">
      <img class="card-img-top" src="" alt="">
      <div class="card-body">
        <h5 class="card-title">Offer Card Management</h5>
        <p class="card-text">Here you can Management The offer Card in the Landing Page</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>